

      
  body{	
    overflow-x: hidden;	
    background: #333366;	
    font-family: 'gameFont', serif;	
  }	
  header{	
    padding: 20px 10px	
  }	
  header h1{	
    padding: 20px;	
    color: #ff9d76;	
    text-align: center;	
  }	
  .score .player,	
  .score .computer{	
    background: #fff;	
    text-align: center;	
    display: inline-block;	
    padding: 32px 55px;	
    border-radius: 4px;	
    position: relative;	
  }	
  .score {	
    display: flex;	
    justify-content: center;	
    align-items: center;	
  }	
  .score .player span:first-child,	
  .score .computer span:first-child{	
    position: absolute;	
    top: -10px;	
    background: #eb4d55;	
    padding: 5px;	
    border-radius: 5px;	
    color: #fff;	
  }	
  .play .player span:first-child{ left: 31% }	
  .play .computer span:first-child{ left: 7% }	
  .play{	
    display: flex;	
    justify-content: center;	
    margin: 80px;	
  }	
  .computer-play{	
    position: absolute;	
    right: 41%;	
    transform: rotateX(-145deg);;	
  }	
  .player-play{	
    position: absolute;	
    left: 41%;	
    transform: rotate(190deg);	
  }	
  .message{	
     text-align: center;	
     margin-top: 150px;	
     margin-bottom: 50px;	
   }	
   #ready{ color: #FFF }	
   .vs{color: #fff; margin: 15px}	
  ul{	
    list-style-type: none;	
    display: flex;	
    justify-content: center	
   }	
   ul li{	
     margin-right: 10px	
   }	
  ul li img{	
    width: 100px;	
    padding: 6px;	
    transform: rotate(180deg);	
    cursor: pointer	
   }	
   ul li span{	
     display: block;	
     color: #fff;	
     text-align: center	
    }	
   .reset{text-align:center}	
   button{	
     cursor: pointer;	
     box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);	
     border: none;	
     background: #EB4D55;	
     border-radius: 5px;	
     color: #fff;	
     font-size: 20px;	
     font-family: 'gameFont';	
     padding: 10px 20px;	
     margin-top: 20px;	
     margin-bottom: 5px;	
     transition: all .4s ease;	
   }	
   button:focus{	
    box-shadow: none;	
    outline: none	
    }	
    footer{	
      margin-top: 10px;	
      text-align: center;	
      color: #fff	
    }	
    footer a{	
      color: #ff9d76;	
    }	
    footer .heart {	
      display: inline-block;	
      animation: Heart 0.45s cubic-bezier(0.55, 0.5, 0, 1.01) infinite;	
      color:#EB4D55	
     }	
  